*.o
*~
*DS_Store*
*.xcuser*

Doxyfile.help
Makefile
*.cache
command_list.txt
confdefs.h
config.h
config.h.in
*.log
config.status
configure
doc.h
doc_src/commands.hdr
doc_src/index.hdr
po/*.gmo
fish
fish.spec
fish_indent
fish_pager
fish_tests
fishd
mimedb
seq
set_color
share/config.fish
share/man/*
stamp-h1
toc.txt
user_doc/*
tests/*tmp.*
tests/foo.txt
stamp-h1
libtool
