*.o
*~
*DS_Store*
*.xcuser*
*.bak

Doxyfile.help
Makefile
Makefile_orig
*.cache
command_list.txt
confdefs.h
config.h
config.h.in
*.log
config.status
configure
conftest.*
doc.h
doc_src/commands.hdr
doc_src/index.hdr
po/*.gmo
po/Makefile.in
po/POTFILES
po/remove-potcdate.sed
fish
fish.spec
fish_indent
fish_pager
fish_tests
fishd
mimedb
seq
set_color
share/config.fish
share/man/*
stamp-h1
tmpwrk*/*
toc.txt
user_doc/*
tests/*tmp.*
tests/foo.txt
stamp-h1
libtool
xsel-1.2.0/*
